In [1]:
import json
import pandas as pd
with open('college.JSON', 'r') as file:
     json_data = json.load(file)

df = pd.DataFrame(json_data)

In [2]:
df

,Debt for Income <30K,Debt for Income between 31K & 75K,Debt for Income greater than 75K,Latitude,Longitude,Monthly Payments,Name
0,22250.0,23019.0,19500.0,38.937802,-77.090106,250.74,American University
1,19000.0,19000.0,18892.0,42.337688,-71.171488,196.46,Boston College
2,24350.0,25500.0,23497.0,42.349581,-71.099840,279.17,Boston University
3,25310.0,26500.0,26500.0,42.364947,-71.254716,279.17,Brandeis University
4,10000.0,13500.0,16000.0,41.827605,-71.404467,155.10,Brown University
5,26500.0,27000.0,23000.0,40.444616,-79.942914,271.42,Carnegie Mellon University
6,22200.0,24500.0,19500.0,41.500812,-81.605769,248.84,Case Western Reserve University
7,27000.0,26000.0,24000.0,42.251064,-71.823537,279.17,Clark University
8,23875.0,23791.0,20500.0,39.750790,-105.227148,268.83,Colorado School of Mines
9,6585.5,9513.0,13902.5,42.447199,-76.483489,124.08,Cornell University
10,6000.0,11093.0,16458.0,43.704080,-72.289951,139.19,Dartmouth College
11,4000.0,7500.0,15000.0,36.001590,-78.942260,77.55,Duke University
12,6227.0,18750.0,19500.0,33.798836,-84.325782,178.19,Emory University
13,18500.0,18750.0,18557.0,30.442100,-84.294801,214.55,Florida State University
14,16479.5,16000.0,15810.5,38.830880,-77.307940,204.21,George Mason University
15,20400.0,24268.5,20950.0,38.898650,-77.047871,258.10,George Washington University
16,12000.0,12524.5,16000.0,38.908809,-77.073463,160.27,Georgetown University
17,7500.0,6000.0,7500.0,42.374429,-71.118177,67.21,Harvard University
18,18960.0,19500.0,18750.0,42.026368,-93.648353,246.79,Iowa State University
19,9000.0,15000.0,16250.0,39.328380,-76.620799,155.10,Johns Hopkins University
20,10593.0,15847.0,17288.0,42.360095,-71.092115,179.04,Massachusetts Institute of Technology
21,21219.5,25717.0,20529.0,42.732120,-84.476111,263.50,Michigan State University
22,19000.0,22800.0,19800.0,40.729452,-73.997264,240.40,New York University
23,24731.0,25000.0,25500.0,42.339992,-71.088782,288.22,Northeastern University
24,15895.0,19312.0,18000.0,42.058377,-87.673653,200.36,Northwestern University
25,18000.0,16500.0,15000.0,44.562740,-123.274721,242.98,Oregon State University
26,3765.0,3638.0,12290.0,40.348530,-74.663603,77.55,Princeton University
27,30899.0,29325.0,25750.0,42.728983,-73.678768,284.34,Rensselaer Polytechnic Institute
28,7500.0,8763.5,11000.0,29.716485,-95.403625,105.75,Rice University
29,7382.0,10144.0,15039.5,37.426967,-122.168826,128.99,Stanford University
...,...,...,...,...,...,...,...
38,6300.0,14500.0,20064.0,41.789170,-87.601196,149.93,University of Chicago
39,15000.0,13500.0,13000.0,40.004415,-105.267061,201.63,University of Colorado Boulder
40,16250.0,19124.5,19250.0,41.806261,-72.247969,222.30,University of Connecticut
41,20000.0,21000.0,22000.0,39.679574,-75.752917,250.25,University of Delaware
42,19667.0,21500.0,18332.0,39.695954,-104.964625,245.04,University of Denver
43,13279.5,14750.0,15000.0,29.649428,-82.339958,163.52,University of Florida
44,13750.0,12993.0,13000.0,29.719988,-95.344851,204.21,University of Houston
45,14166.0,13798.0,15000.0,41.872651,-87.651145,193.87,University of Illinois at Chicago
46,16750.0,20000.0,18750.0,40.108864,-88.230309,211.96,University of Illinois at Urbana-Champaign
47,14243.5,17505.0,18250.0,41.660695,-91.535698,223.50,University of Iowa
48,18250.0,18475.0,17500.0,25.720406,-80.276450,205.20,University of Miami
49,17492.0,17416.0,17250.0,44.977886,-93.235352,208.71,University of Minnesota-Twin Cities
50,13650.0,14664.5,14988.0,40.822272,-96.702177,224.37,University of Nebraska-Lincoln
51,11000.0,15500.0,17017.0,35.912165,-79.050969,170.39,University of North Carolina at Chapel Hill
52,19000.0,19000.0,21500.0,41.703058,-86.238959,222.30,University of Notre Dame
53,18961.0,16499.0,16091.0,44.044515,-123.073980,218.18,University of Oregon
54,13695.0,17632.5,21500.0,39.951002,-75.193618,213.35,University of Pennsylvania
55,21650.0,25000.0,21500.0,43.126437,-77.631042,253.32,University of Rochester
56,22500.0,22750.0,19711.5,34.021058,-118.283858,231.35,University of Southern California
57,12500.0,14750.0,14500.0,35.955093,-83.929696,206.80,The University of Tennessee-Knoxville
58,22132.5,21006.5,19623.0,30.286598,-97.739240,230.06,The University of Texas at Austin
59,13750.0,14707.0,12500.0,32.989432,-96.748371,193.87,The University of Texas at Dallas
60,11313.0,12500.0,12000.0,40.762484,-111.846044,155.10,University of Utah
61,18615.0,21436.5,19900.0,43.073858,-89.405356,230.06,University of Wisconsin-Madison
62,7341.0,11000.0,15000.0,36.144430,-86.804875,144.76,Vanderbilt University
63,21959.5,22500.0,20937.0,37.228572,-80.423229,247.81,Virginia Polytechnic Institute and State Unive...
64,24514.0,26609.0,20500.0,36.135301,-80.279004,237.81,Wake Forest University
65,15000.0,14759.0,14750.0,46.730448,-117.158168,211.23,Washington State University
66,13593.0,17548.0,19725.5,38.648125,-90.311639,205.76,Washington University in St Louis
67,10026.5,9000.0,15000.0,41.311158,-72.926688,139.59,Yale University

In [3]:
def df_to_geojson(df, properties, lat='Latitude', lon='Longitude'):
    geojson = []
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lon],row[lat]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson.append(feature)
    return geojson

In [10]:
cols = ["Name", "Monthly Payments", "Debt for Income <30K", "Debt for Income between 31K & 75K", "Debt for Income greater than 75K"]

In [11]:
geojson=df_to_geojson(df,cols)

In [12]:
geojson

[{'geometry': {'coordinates': [-77.090106, 38.937802], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 22250.0,
   'Debt for Income between 31K & 75K': 23019.0,
   'Debt for Income greater than 75K': 19500.0,
   'Monthly Payments': 250.74,
   'Name': 'American University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-71.171488, 42.337688], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 19000.0,
   'Debt for Income between 31K & 75K': 19000.0,
   'Debt for Income greater than 75K': 18892.0,
   'Monthly Payments': 196.46,
   'Name': 'Boston College'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-71.09984, 42.349581], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 24350.0,
   'Debt for Income between 31K & 75K': 25500.0,
   'Debt for Income greater than 75K': 23497.0,
   'Monthly Payments': 279.17,
   'Name': 'Boston University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-71.254716, 42.364947], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 25310.0,
   'Debt for Income between 31K & 75K': 26500.0,
   'Debt for Income greater than 75K': 26500.0,
   'Monthly Payments': 279.17,
   'Name': 'Brandeis University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-71.404467, 41.827605], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 10000.0,
   'Debt for Income between 31K & 75K': 13500.0,
   'Debt for Income greater than 75K': 16000.0,
   'Monthly Payments': 155.1,
   'Name': 'Brown University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-79.942914, 40.444616], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 26500.0,
   'Debt for Income between 31K & 75K': 27000.0,
   'Debt for Income greater than 75K': 23000.0,
   'Monthly Payments': 271.42,
   'Name': 'Carnegie Mellon University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-81.605769, 41.500812], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 22200.0,
   'Debt for Income between 31K & 75K': 24500.0,
   'Debt for Income greater than 75K': 19500.0,
   'Monthly Payments': 248.84,
   'Name': 'Case Western Reserve University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-71.823537, 42.251064], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 27000.0,
   'Debt for Income between 31K & 75K': 26000.0,
   'Debt for Income greater than 75K': 24000.0,
   'Monthly Payments': 279.17,
   'Name': 'Clark University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-105.227148, 39.75079], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 23875.0,
   'Debt for Income between 31K & 75K': 23791.0,
   'Debt for Income greater than 75K': 20500.0,
   'Monthly Payments': 268.83,
   'Name': 'Colorado School of Mines'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-76.483489, 42.447199], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 6585.5,
   'Debt for Income between 31K & 75K': 9513.0,
   'Debt for Income greater than 75K': 13902.5,
   'Monthly Payments': 124.08,
   'Name': 'Cornell University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-72.289951, 43.70408], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 6000.0,
   'Debt for Income between 31K & 75K': 11093.0,
   'Debt for Income greater than 75K': 16458.0,
   'Monthly Payments': 139.19,
   'Name': 'Dartmouth College'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-78.94226, 36.00159], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 4000.0,
   'Debt for Income between 31K & 75K': 7500.0,
   'Debt for Income greater than 75K': 15000.0,
   'Monthly Payments': 77.55,
   'Name': 'Duke University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-84.325782, 33.798836], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 6227.0,
   'Debt for Income between 31K & 75K': 18750.0,
   'Debt for Income greater than 75K': 19500.0,
   'Monthly Payments': 178.19,
   'Name': 'Emory University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-84.294801, 30.4421], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 18500.0,
   'Debt for Income between 31K & 75K': 18750.0,
   'Debt for Income greater than 75K': 18557.0,
   'Monthly Payments': 214.55,
   'Name': 'Florida State University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-77.30794, 38.83088], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 16479.5,
   'Debt for Income between 31K & 75K': 16000.0,
   'Debt for Income greater than 75K': 15810.5,
   'Monthly Payments': 204.21,
   'Name': 'George Mason University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-77.047871, 38.89865], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 20400.0,
   'Debt for Income between 31K & 75K': 24268.5,
   'Debt for Income greater than 75K': 20950.0,
   'Monthly Payments': 258.1,
   'Name': 'George Washington University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-77.073463, 38.908809], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 12000.0,
   'Debt for Income between 31K & 75K': 12524.5,
   'Debt for Income greater than 75K': 16000.0,
   'Monthly Payments': 160.27,
   'Name': 'Georgetown University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-71.118177, 42.374429], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 7500.0,
   'Debt for Income between 31K & 75K': 6000.0,
   'Debt for Income greater than 75K': 7500.0,
   'Monthly Payments': 67.21,
   'Name': 'Harvard University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-93.648353, 42.026368], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 18960.0,
   'Debt for Income between 31K & 75K': 19500.0,
   'Debt for Income greater than 75K': 18750.0,
   'Monthly Payments': 246.79,
   'Name': 'Iowa State University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-76.620799, 39.32838], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 9000.0,
   'Debt for Income between 31K & 75K': 15000.0,
   'Debt for Income greater than 75K': 16250.0,
   'Monthly Payments': 155.1,
   'Name': 'Johns Hopkins University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-71.092115, 42.360095], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 10593.0,
   'Debt for Income between 31K & 75K': 15847.0,
   'Debt for Income greater than 75K': 17288.0,
   'Monthly Payments': 179.04,
   'Name': 'Massachusetts Institute of Technology'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-84.476111, 42.73212], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 21219.5,
   'Debt for Income between 31K & 75K': 25717.0,
   'Debt for Income greater than 75K': 20529.0,
   'Monthly Payments': 263.5,
   'Name': 'Michigan State University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-73.997264, 40.729452], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 19000.0,
   'Debt for Income between 31K & 75K': 22800.0,
   'Debt for Income greater than 75K': 19800.0,
   'Monthly Payments': 240.4,
   'Name': 'New York University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-71.088782, 42.339992], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 24731.0,
   'Debt for Income between 31K & 75K': 25000.0,
   'Debt for Income greater than 75K': 25500.0,
   'Monthly Payments': 288.22,
   'Name': 'Northeastern University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-87.673653, 42.058377], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 15895.0,
   'Debt for Income between 31K & 75K': 19312.0,
   'Debt for Income greater than 75K': 18000.0,
   'Monthly Payments': 200.36,
   'Name': 'Northwestern University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-123.274721, 44.56274], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 18000.0,
   'Debt for Income between 31K & 75K': 16500.0,
   'Debt for Income greater than 75K': 15000.0,
   'Monthly Payments': 242.98,
   'Name': 'Oregon State University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-74.663603, 40.34853], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 3765.0,
   'Debt for Income between 31K & 75K': 3638.0,
   'Debt for Income greater than 75K': 12290.0,
   'Monthly Payments': 77.55,
   'Name': 'Princeton University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-73.678768, 42.728983], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 30899.0,
   'Debt for Income between 31K & 75K': 29325.0,
   'Debt for Income greater than 75K': 25750.0,
   'Monthly Payments': 284.34,
   'Name': 'Rensselaer Polytechnic Institute'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-95.403625, 29.716485], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 7500.0,
   'Debt for Income between 31K & 75K': 8763.5,
   'Debt for Income greater than 75K': 11000.0,
   'Monthly Payments': 105.75,
   'Name': 'Rice University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-122.168826, 37.426967], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 7382.0,
   'Debt for Income between 31K & 75K': 10144.0,
   'Debt for Income greater than 75K': 15039.5,
   'Monthly Payments': 128.99,
   'Name': 'Stanford University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-73.123595, 40.913138], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 16000.0,
   'Debt for Income between 31K & 75K': 15500.0,
   'Debt for Income greater than 75K': 15250.0,
   'Monthly Payments': 196.46,
   'Name': 'Stony Brook University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-76.136633, 43.040005], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 27000.0,
   'Debt for Income between 31K & 75K': 29000.0,
   'Debt for Income greater than 75K': 24250.0,
   'Monthly Payments': 279.17,
   'Name': 'Syracuse University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-71.121689, 42.406994], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 10600.0,
   'Debt for Income between 31K & 75K': 17500.0,
   'Debt for Income greater than 75K': 17500.0,
   'Monthly Payments': 186.12,
   'Name': 'Tufts University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-78.790103, 43.001433], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 13875.0,
   'Debt for Income between 31K & 75K': 15775.0,
   'Debt for Income greater than 75K': 15000.0,
   'Monthly Payments': 201.63,
   'Name': 'University at Buffalo'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-87.545766, 33.2144], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 17992.0,
   'Debt for Income between 31K & 75K': 17469.5,
   'Debt for Income greater than 75K': 17000.0,
   'Monthly Payments': 245.57,
   'Name': 'The University of Alabama'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-86.80917, 33.50223], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 14739.0,
   'Debt for Income between 31K & 75K': 14250.0,
   'Debt for Income greater than 75K': 14000.0,
   'Monthly Payments': 222.3,
   'Name': 'University of Alabama at Birmingham'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-147.822943, 64.856483], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 10750.0,
   'Debt for Income between 31K & 75K': 9192.0,
   'Debt for Income greater than 75K': 7567.5,
   'Monthly Payments': 175.52,
   'Name': 'University of Alaska Fairbanks'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-110.950769, 32.232071], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 13400.0,
   'Debt for Income between 31K & 75K': 13051.5,
   'Debt for Income greater than 75K': 12000.0,
   'Monthly Payments': 196.46,
   'Name': 'University of Arizona'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-87.601196, 41.78917], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 6300.0,
   'Debt for Income between 31K & 75K': 14500.0,
   'Debt for Income greater than 75K': 20064.0,
   'Monthly Payments': 149.93,
   'Name': 'University of Chicago'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-105.267061, 40.004415], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 15000.0,
   'Debt for Income between 31K & 75K': 13500.0,
   'Debt for Income greater than 75K': 13000.0,
   'Monthly Payments': 201.63,
   'Name': 'University of Colorado Boulder'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-72.247969, 41.806261], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 16250.0,
   'Debt for Income between 31K & 75K': 19124.5,
   'Debt for Income greater than 75K': 19250.0,
   'Monthly Payments': 222.3,
   'Name': 'University of Connecticut'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-75.752917, 39.679574], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 20000.0,
   'Debt for Income between 31K & 75K': 21000.0,
   'Debt for Income greater than 75K': 22000.0,
   'Monthly Payments': 250.25,
   'Name': 'University of Delaware'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-104.964625, 39.695954], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 19667.0,
   'Debt for Income between 31K & 75K': 21500.0,
   'Debt for Income greater than 75K': 18332.0,
   'Monthly Payments': 245.04,
   'Name': 'University of Denver'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-82.339958, 29.649428], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 13279.5,
   'Debt for Income between 31K & 75K': 14750.0,
   'Debt for Income greater than 75K': 15000.0,
   'Monthly Payments': 163.52,
   'Name': 'University of Florida'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-95.344851, 29.719988], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 13750.0,
   'Debt for Income between 31K & 75K': 12993.0,
   'Debt for Income greater than 75K': 13000.0,
   'Monthly Payments': 204.21,
   'Name': 'University of Houston'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-87.651145, 41.872651], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 14166.0,
   'Debt for Income between 31K & 75K': 13798.0,
   'Debt for Income greater than 75K': 15000.0,
   'Monthly Payments': 193.87,
   'Name': 'University of Illinois at Chicago'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-88.230309, 40.108864], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 16750.0,
   'Debt for Income between 31K & 75K': 20000.0,
   'Debt for Income greater than 75K': 18750.0,
   'Monthly Payments': 211.96,
   'Name': 'University of Illinois at Urbana-Champaign'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-91.535698, 41.660695], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 14243.5,
   'Debt for Income between 31K & 75K': 17505.0,
   'Debt for Income greater than 75K': 18250.0,
   'Monthly Payments': 223.5,
   'Name': 'University of Iowa'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-80.27645, 25.720406], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 18250.0,
   'Debt for Income between 31K & 75K': 18475.0,
   'Debt for Income greater than 75K': 17500.0,
   'Monthly Payments': 205.2,
   'Name': 'University of Miami'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-93.235352, 44.977886], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 17492.0,
   'Debt for Income between 31K & 75K': 17416.0,
   'Debt for Income greater than 75K': 17250.0,
   'Monthly Payments': 208.71,
   'Name': 'University of Minnesota-Twin Cities'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-96.702177, 40.822272], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 13650.0,
   'Debt for Income between 31K & 75K': 14664.5,
   'Debt for Income greater than 75K': 14988.0,
   'Monthly Payments': 224.37,
   'Name': 'University of Nebraska-Lincoln'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-79.050969, 35.912165], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 11000.0,
   'Debt for Income between 31K & 75K': 15500.0,
   'Debt for Income greater than 75K': 17017.0,
   'Monthly Payments': 170.39,
   'Name': 'University of North Carolina at Chapel Hill'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-86.238959, 41.703058], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 19000.0,
   'Debt for Income between 31K & 75K': 19000.0,
   'Debt for Income greater than 75K': 21500.0,
   'Monthly Payments': 222.3,
   'Name': 'University of Notre Dame'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-123.07398, 44.044515], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 18961.0,
   'Debt for Income between 31K & 75K': 16499.0,
   'Debt for Income greater than 75K': 16091.0,
   'Monthly Payments': 218.18,
   'Name': 'University of Oregon'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-75.193618, 39.951002], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 13695.0,
   'Debt for Income between 31K & 75K': 17632.5,
   'Debt for Income greater than 75K': 21500.0,
   'Monthly Payments': 213.35,
   'Name': 'University of Pennsylvania'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-77.631042, 43.126437], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 21650.0,
   'Debt for Income between 31K & 75K': 25000.0,
   'Debt for Income greater than 75K': 21500.0,
   'Monthly Payments': 253.32,
   'Name': 'University of Rochester'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-118.283858, 34.021058], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 22500.0,
   'Debt for Income between 31K & 75K': 22750.0,
   'Debt for Income greater than 75K': 19711.5,
   'Monthly Payments': 231.35,
   'Name': 'University of Southern California'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-83.929696, 35.955093], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 12500.0,
   'Debt for Income between 31K & 75K': 14750.0,
   'Debt for Income greater than 75K': 14500.0,
   'Monthly Payments': 206.8,
   'Name': 'The University of Tennessee-Knoxville'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-97.73924, 30.286598], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 22132.5,
   'Debt for Income between 31K & 75K': 21006.5,
   'Debt for Income greater than 75K': 19623.0,
   'Monthly Payments': 230.06,
   'Name': 'The University of Texas at Austin'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-96.748371, 32.989432], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 13750.0,
   'Debt for Income between 31K & 75K': 14707.0,
   'Debt for Income greater than 75K': 12500.0,
   'Monthly Payments': 193.87,
   'Name': 'The University of Texas at Dallas'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-111.846044, 40.762484], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 11313.0,
   'Debt for Income between 31K & 75K': 12500.0,
   'Debt for Income greater than 75K': 12000.0,
   'Monthly Payments': 155.1,
   'Name': 'University of Utah'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-89.405356, 43.073858], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 18615.0,
   'Debt for Income between 31K & 75K': 21436.5,
   'Debt for Income greater than 75K': 19900.0,
   'Monthly Payments': 230.06,
   'Name': 'University of Wisconsin-Madison'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-86.804875, 36.14443], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 7341.0,
   'Debt for Income between 31K & 75K': 11000.0,
   'Debt for Income greater than 75K': 15000.0,
   'Monthly Payments': 144.76,
   'Name': 'Vanderbilt University'},
  'type': 'Feature'},
 {'geometry': {'coordinates': [-80.423229, 37.228572], 'type': 'Point'},
  'properties': {'Debt for Income <30K': 21959.5,
   'Debt for Income between 31K & 75K': 22500.0,
   'Debt for Income greater than 75K': 20937.0,
   'Monthly Payments': 247.81,
   'Name': 'Virginia Polytechnic Institute and State University'},

In [13]:
output_filename = 'dataset2.js'
with open(output_filename, 'w') as output_file:
    output_file.write('var data = ')
    json.dump(geojson, output_file, indent=2)